GEMINI_API_KEY=
DB_PATH=
VITE_SUPABASE_URL=https://api.qlhshq.info.vn
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzkwODQ2NjQxLCJleHAiOjIxMDYyMDY2NDF9.C_ZelJZ0v5pGRPhgjm6Z3ljdoXvPJUUc3RBOq89eVrM
