GEMINI_API_KEY=
DB_PATH=
VITE_SUPABASE_URL=https://api.qlhshq.info.vn
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzkwODU5Mjc4LCJleHAiOjE5NDg1MzkyNzh9.NafaY1HgZZdSB9sddTztknHN3LAlJrn87bY5yDli_hQ
